<h1><%= @post.title %></h1>
<%= @post.content %>
<h2>コメント</h2>
<% @comments.each do |comment| %>
  <%= comment.name %><br>
  <%= comment.content %><br>
  <%= link_to("編集", edit_post_comment_path(@post, comment)) %><br>
  <%= link_to("削除", post_comment_path(@post, comment), method: :delete, data:{:confirm =>"コメントを削除します"} ) %><br>
<% end %>

<%= link_to("コメントを投稿する", new_post_comment_path(@post)) %><br>