<h1><%= @post.title %></h1>
<%= @post.content %>
<h2>コメント</h2>
<% @comments.each do |comment| %>
  <%= comment.name %><br>
  <%= comment.content %><br>
  <%= link_to("削除", {:controller => "comments", :action => "delete", :id => comment.id}, data:{:confirm =>"コメントを削除します"} ) %><br>
<% end %>